<!DOCTYPE html>
<html>
  <head>
    <title>Hvor meget er dagen tiltaget?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <% if partial_locals[:date] %>
      <meta property="og:description" content="Se hvor meget længere den <%= partial_locals[:date].strftime("%-d. #{month(partial_locals[:date].month)} %Y") %> er end ved sidste vintersolhverv. Det er godt for vinterdepressionen!" />
    <% else %>
      <meta property="og:description" content="Følg med i hvor meget dagen er tiltager siden sidste vintersolhverv. Det er godt for vinterdepressionen!" />
    <% end %>
    <meta property="og:image" content="http://sidensolhverv.dk/solhverv.jpg" />
    <meta property="og:title" content="Følg med i hvor meget dagen tiltager" />
    <meta property="og:url" content="http://sidensolhverv.dk/" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="assets/styles.css" type="text/css" media="screen" title="Custom styles" charset="utf-8"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-632301-20']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <h1>Hvor meget er dagen tiltaget?</h1>
        <p>Her kan du se hvor meget dagen er blevet længere siden sidste vintersolhverv. Det er godt for vinterdepressionen.</p>
        <ul class="nav nav-tabs">
          <li<%= (partial == :index) ? ' class="active"' : '' %>><a href="/">Siden solhverv</a>
          <li<%= (partial == :about) ? ' class="active"' : '' %>><a href="/om">Om</a></li>
          <li<%= (partial == :api) ? ' class="active"' : '' %>><a href="/api">API</a></li>
        </ul>
      </div>

      <%= erb partial, :locals => partial_locals %>

      <hr>

      <div class="row">
        <div class="col-md12 center">
          <p>Denne tjeneste er lavet af Ricco Førgaard. Jeg er <a href="http://twitter.com/fiskeben">@fiskeben på Twitter</a>, og jeg har <a href="http://fiskeben.dk">en blog</a>.</p>
          <p>Hvis du synes om siden, så overvej at støtte den <a target="_blank" href="http://www.amazon.com/?_encoding=UTF8&camp=1789&creative=390957&linkCode=ur2&tag=sidensolhverv-20">når du handler på Amazon</a><img src="https://www.assoc-amazon.com/e/ir?t=sidensolhverv-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> ved at bruge dette link.</p>
        </div>
      </div>
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=191091391034497";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript">
      window.___gcfg = {lang: 'da'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

  </body>
</html>
