
      <div class="row-fluid">
        <div class="jumbotron span8">
          <% if ok %>
            <% unless place.nil? %>
              <p class="lead">I <%= place %> er dagen tiltaget med</p>
            <% else %>
              <p class="lead">Dagen er tiltaget med</p>
            <% end %>
            <h2><%= hours %> time<%= (hours != 1) ? "r" : "" %><small>og</small></h2>
            <h2><%= minutes %> minut<%= (minutes != 1) ? "ter" : "" %></h2>
            <p class="lead">siden <%= solstice %></p>
            <small>Det er <%= difference %> minut<%= (difference != 1) ? "ter" : "" %> <%= (difference < 0) ? "kortere" : "længere" %> end i går.</small>
          <% else %>
            <p class="lead">Din position kunne ikke beregnes.
              Placer en nål på kortet herunder for at se dagens længde for det sted.</p>
          <% end %>
        </div>
        
        <div class="span3 pull-right social">

          <div class="fb-like" data-href="http://sidensolhverv.dk" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div>
          
          <div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sidensolhverv.dk" data-text="Se hvor meget dagen er tiltaget" data-via="fiskeben" data-lang="da">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          
          <div class="g-plusone" data-size="small" data-href="http://sidensolhverv.dk"></div>

        </div>
      </div>
      
      <hr>
      
      <div class="row-fluid">
        <div class="span12">
          <% if ok and !place.nil? %>
            <h4>Ikke i <%= place %>?</h4>
          <% else %>
            <h4>Et andet sted?</h4>
          <% end %>
          <div id="map-container">
            <div id="map_canvas" class="well"></div>
          </div>
        </div>
      </div>
      
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuCy51gG7lFVZBuLsq0nNMauMkdQMqkDc&sensor=true">
      </script>


      <script type="text/javascript">
        var map;
        var marker;
        var position = new google.maps.LatLng(<%= latitude %>, <%= longitude %>);

        var initialize = function() {
          var mapOptions = {
                center: position,
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

          marker = new google.maps.Marker({
            position: position,
            map: map
          });

          google.maps.event.addListener(map, 'click', function(event) {
            removeMarker();
            placeMarker(event.latLng);
          }); 
        }
        
        function createDate(date) {
          var d = new Date(date);
          var string = [];
          string.push(d.getDate());
          string.push('.');
          string.push(d.getMonth() + 1);
          string.push(' ');
          string.push(d.getFullYear());
          return string.join('');
        }

        function removeMarker() {
          marker.setMap(null);
        }

        function placeMarker(location) {
          marker = new google.maps.Marker({
                position: location, 
                map: map
            });

          map.setCenter(location);

          var payload = { lat: location.lat(), lng: location.lng() };
          $.ajax({
            url: "/api/v1/calculate",
            type: 'post',
            data: payload,
            success: function(data) {
              var text = [];
              text.push('<p class="lead">Dagen er tiltaget med</p><h2>');
              text.push(data.hours);
              text.push(' time');
              if (data.hours != 1) {
                text.push("r");
              }
              text.push('<small>og</small></h2><h2>');
              text.push(data.minutes);
              text.push(' minut');
              if (data.minutes != 1) {
                text.push('ter');
              }
              text.push('</h2><p class="lead">siden ');
              text.push(createDate(data.solstice));
              text.push('</p><small>Det er ');
              text.push(data.difference);
              text.push(' minut');
              if (data.difference != 1) {
                text.push('ter');
              }
              text.push(' mere end i går.</small>');
              $(".jumbotron").html(text.join(''));
              $.cookie("latitude", payload.lat);
              $.cookie("longitude", payload.lng);
            },
            error: function() {
              $(".jumbotron").html('<div class="alert alert-error">Dagens længde kunne ikke beregnes for denne position</div>');
            }
          });
        }
        
        $(window).load(initialize);
        </script>